.ajuste{
    height: calc(100vh*1.2);
}
.header{
    background: radial-gradient(#fff 20px, #000 50%) no-repeat;
    background-position: 0 0px;

    width: 100%;
    height: 200px;
    background-size: cover;
}
.header_info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.headerSpan{
    font-weight: bold;
    font-size: calc(8px*2.4);
    text-shadow: 0 4px 8px #00000095;
}
.headerTitle{
    color: #00000095;
    font-size: calc(8px*3);
    text-shadow: 0 4px 8px #00000095;
}
.heroTitle{
    padding: 8px 24px;
}
.navigation{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.navigation ul{
    display: flex;
    justify-content: space-around;
}

.gridSlide{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}
.iconProfile{
    background: #fff;
    border-radius: 100%;

    box-shadow: 0 4px 4px #000;

    color: #000;

    position: absolute;
    right: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    --sizeEqual:48px;
    width: var(--sizeEqual) ;
    height: var(--sizeEqual) ;
}