.form-singup {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  width: 327px;
  gap: 1rem;
}
.btn-singup {
  width: 327px;
  color: #fff;
  background-color: #01C09A;
  font-size: 12px;
  font-family: 'Poppins';
  padding: 15px 20px;
  border-radius: 16px;
  border: none;
}
.plataforms{
  display: flex;
  justify-content: space-around;
}

.text-checkbox{
  display: flex; 
  align-items: center;
  justify-content: start;

}
.pagina{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}